{{ with resources.Get "css/main.css" | postCSS }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }}

{{ with resources.Get "css/project-menu.css" | postCSS }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }}

{{ with resources.Get "css/header.css" | postCSS}}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }}

{{ with resources.Get "css/footer.css" | postCSS}}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }}

{{ with resources.Get "css/lite-yt-embed.css" | postCSS }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }}
